<div dir="rtl">
    <table novalidate class="datagrid table table-hover" st-table="vm.vfGrid.rowCollection" st-safe-src="vm.vfGrid.rows"
           st-select-row="row" st-select-mode="single">
        <thead>
        <tr>
            <th ng-repeat="column in vm.vfGrid.getColumns()" st-ratio="5" st-sort="{{column.getKey()}}">{{column.getTitle()}}</th>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <th ng-repeat="column in vm.vfGrid.getColumns()" st-ratio="5">
                <input st-search="{{column.getKey()}}" placeholder="חיפוש לפי {{column.getTitle()}}" class="input-sm form-control" type="search" />
            </th>
            <th></th>
            <th></th>

        </tr>
        </thead>

        <tbody ng-show="!vm.vfGrid.isLoading" >
        <tr ng-repeat="row in vm.vfGrid.rowCollection">
            <td st-ratio="5" ng-repeat="column in vm.vfGrid.getColumns()">{{row[column.getKey()]}}</td>
            <td st-ratio="5">
                <button type="button" class="btn btn-default"  ng-click="vm.vfGrid.editRecord('lg',row.id)">
                    <i class="glyphicon glyphicon-pencil">
                    </i>
                </button>
                <span>עריכה</span>
            </td>

            <td st-ratio="5">
                <button type="button" class="btn btn-danger" ng-click="vm.vfGrid.deleteUser(row.id)">
                    <i class="glyphicon glyphicon-trash">
                    </i>
                </button>
                <span>מחיקה</span>
            </td>
        </tr>

        </tbody>

        <tbody ng-show="vm.vfGrid.isLoading">
        <tr>
            <td colspan="4" class="text-center">Loading ... </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td colspan="7" class="text-right">
                <div class="pull-right noPadding-vertical" st-pagination="" st-items-by-page="vm.vfGrid.itemsByPage"></div>
            </td>
        </tr>

        </tfoot>
    </table>

    <div>
        <a class="pull-left">&nbsp;</a>
        <span class="btn btn-info btn-sm col-xs-2 pull-right"
              ng-click="vm.vfGrid.addRecord('lg')">הוספה</span>

        <button type="button" class="btn btn-danger" ng-click="vm.vfGrid.deleteUser('lg',3)">
            <i class="glyphicon glyphicon-trash">
            </i>
        </button>

        <span>מחיקה</span>
    </div>

</div>
<div dir="rtl" class="clearfix">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header model-grey-color">
            <button type="button" class="close pull-left" data-dismiss="modal" aria-label="Close"
                    ng-click="vm.cancel()"><span aria-hidden="true"><i style="font-size:xx-large;color:#001a33;"
                                                                       class="fa fa-times-circle-o"></i></span></button>
            <h3 class="modal-title">עריכת פרטי לקוח</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" role="form">
                {{vm.getColumns() | json}}
                <div class="form-group row">
                    <div ng-repeat="column in vm.getColumns()" ng-init="key=column.getKey()">
                        <label class="col-sm-1 pull-right  control-label">{{column.getTitle()}}<sup class="sup-color">*</sup></label>
                        <div class="col-sm-2 pull-right">
                           <!--{{vm.MunicipalityRecord.engName}}- {{vm.MunicipalityRecord | json}}-{{column.getKey() | json}}-->
                            <input type="text" ng-model="vm.MunicipalityRecord[key]" ng-disabled="false" class="form-control">
                            
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <div class="modal-footer model-grey-color">
            <button class="btn btn-success milgam-a-button" ng-click="vm.ok()"><i class="glyphicon glyphicon-floppy-save"></i> שמירה </button>
            <button class="btn btn-danger milgam-a-button" ng-click="vm.cancel()"><i class="glyphicon glyphicon-remove"></i> ביטול </button>
        </div>

    </script>
</div>


<link href="../../Admin/Content/siteCss/site-municipality.css" rel="stylesheet" />

